.welcome-screen {
	align-self: center !important;
	min-width: 90% !important
}

.welcome-page {
	height: calc(100vh - 64px) !important;
	display: flex !important;
	justify-content: center !important;
}

.heading-section {
	display: flex;
	justify-content: center;
	width: 90% !important;
}

.pin-section {
	display: flex;
	justify-content: flex-end !important;
}

.pin-image {
	width: 50vw;
	margin: auto;
}

@media screen and (max-width:700px) {
	.pin-image {
		width: 400px;
	}
}

@media screen and (max-width:440px) {
	.pin-image {
		max-width: 85%;
	}
}

.justify-center {
	justify-content: center;
}